@{
    Layout = "_LayoutMaster.cshtml";
}

@section Style
{
    @RenderSection("Style",false)
}

@section Script
{
    @RenderSection("Script",false)
}

@RenderBody()
<!--fixft开始-->
<div class="fixft">
    <a href="index.html" class="current">
        <span><img src="~/Content/images/navicon_45.png" class="img1"><img src="~/Content/images/navicon_28.png" class="img2"></span>
        <i>首页</i>
    </a>
    <a href="publish.html">
        <span><img src="~/Content/images/navicon_48.png" class="img1"><img src="~/Content/images/navicon_30.png" class="img2"></span>
        <i>分类</i>
    </a>
    <a href="shopcar.html">
        <span><img src="~/Content/images/navicon_50.png" class="img1"><img src="~/Content/images/navicon_32.png" class="img2"><em>12</em></span>
        <i>购物车</i>
    </a>
    <a href="center.html">
        <span><img src="~/Content/images/navicon_42.png" class="img1"><img src="~/Content/images/navicon_35.png" class="img2"></span>
        <i>我的</i>
    </a>
</div>
<!--fixft结束-->
