
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Gonggao</title>
</head>
<body>
<!--ftop开始-->
<div class="ftop"> <a class="back" onClick="javascript:history.back(-1);"><img src="~/Content/images/icon_03.png"></a>
    <h2>最新公告</h2>
    <a class="comea">&nbsp;</a>
    <div style="clear: both;"></div>
</div>
<!--ftop开始--> 
<div class="notice">
    <ul>
        <li><a href="@Url.Action("Ggxiang")">
            <h2><span>关于国庆发货通知关于国庆发货通知关于国庆发货通知关于国庆发货通知</span><i>2016.03.04</i></h2>
            <p>冬虫夏草又名虫草，是我国民间惯用的一种名贵滋补药材，其营养成分高于人参，可入药，也可食用，是上乘的佳肴，具有很高的营养价值。</p></a></li>
        <li><a href="@Url.Action("Ggxiang")">
            <h2><span>关于国庆发货通知关于国庆发货通知关于国庆发货通知关于国庆发货通知</span><i>2016.03.04</i></h2>
            <p>冬虫夏草又名虫草，是我国民间惯用的一种名贵滋补药材，其营养成分高于人参，可入药，也可食用，是上乘的佳肴，具有很高的营养价值。</p></a></li>
        <li><a href="@Url.Action("Ggxiang")">
            <h2><span>关于国庆发货通知关于国庆发货通知关于国庆发货通知关于国庆发货通知</span><i>2016.03.04</i></h2>
            <p>冬虫夏草又名虫草，是我国民间惯用的一种名贵滋补药材，其营养成分高于人参，可入药，也可食用，是上乘的佳肴，具有很高的营养价值。</p></a></li>
    </ul>
</div>
</body>
</html>
